@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark1: #04364a;
  --dark2: #176b87;
  --light1: #64ccc5;
  --light2: #dafffb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.slick-dots {
  z-index: 100;
  bottom: -20px !important;
}

.bg-glass {
  @apply rounded-2xl bg-opacity-20 shadow-lg backdrop-blur-lg backdrop-filter;
}

/*
.slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}
*/

/*
 body {
  color: rgb(var(--foreground-rgb));
 
    rgb(var(--background-start-rgb));
}

color palette
 */
